## 1. Introduction
<p>Version control repositories like CVS, Subversion or Git can be a real gold mine for software developers. They contain every change to the source code including the date (the "when"), the responsible developer (the "who"), as well as little message that describes the intention (the "what") of a change.</p>
<p><a href="https://commons.wikimedia.org/wiki/File:Tux.svg">
<img style="float: right;margin:5px 20px 5px 1px" width="150px" src="https://s3.amazonaws.com/assets.datacamp.com/production/project_111/img/tux.png" alt="Tux - the Linux mascot">
</a></p>
<p>In this notebook, we will analyze the evolution of a very famous open-source project &ndash; the Linux kernel. The Linux kernel is the heart of some Linux distributions like Debian, Ubuntu or CentOS. </p>
<p>We get some first insights into the work of the development efforts by </p>
<ul>
<li>identifying the TOP 10 contributors and</li>
<li>visualizing the commits over the years.</li>
</ul>
<p>Linus Torvalds, the (spoiler alert!) main contributor to the Linux kernel (and also the creator of Git), created a <a href="https://github.com/torvalds/linux/">mirror of the Linux repository on GitHub</a>. It contains the complete history of kernel development for the last 13 years.</p>
<p>For our analysis, we will use a Git log file with the following content:</p>

In [203]:
# Printing the content of git_log_excerpt.csv
# ... YOUR CODE FOR TASK 1 ...

## 2. Reading in the dataset
<p>The dataset was created by using the command <code>git log --encoding=latin-1 --pretty="%at#%aN"</code>. The <code>latin-1</code> encoded text output was saved in a header-less csv file. In this file, each row is a commit entry with the following information:</p>
<ul>
<li><code>timestamp</code>: the time of the commit as a UNIX timestamp in seconds since 1970-01-01 00:00:00 (Git log placeholder "<code>%at</code>")</li>
<li><code>author</code>: the name of the author that performed the commit (Git log placeholder "<code>%aN</code>")</li>
</ul>
<p>The columns are separated by the number sign <code>#</code>. The complete dataset is in the <code>datasets/</code> directory. It is a <code>gz</code>-compressed csv file named <code>git_log.gz</code>.</p>

In [205]:
# Loading in the pandas module
# ... YOUR CODE FOR TASK 2 ...
import pandas as pd
# Reading in the log file
git_log = pd.read_csv('datasets/git_log.gz', sep = '#', encoding = 'latin_1' , header = None, names = ['timestamp', 'author'])
git_log.head()

# Printing out the first 5 rows
# ... YOUR CODE FOR TASK 2 ...

    timestamp          author
0  1502826583  Linus Torvalds
1  1501749089   Adrian Hunter
2  1501749088   Adrian Hunter
3  1501882480       Kees Cook
4  1497271395       Rob Clark

## 3. Getting an overview
<p>The dataset contains the information about every single code contribution (a "commit") to the Linux kernel over the last 13 years. We'll first take a look at the number of authors and their commits to the repository.</p>

In [207]:
# calculating number of commits
number_of_commits = git_log['timestamp'].count()
git_log.info()

# calculating number of authors
number_of_authors = git_log['author'].dropna().nunique()

# printing out the results
print("%s authors committed %s code changes." % (number_of_authors, number_of_commits))

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 699071 entries, 0 to 699070
Data columns (total 2 columns):
timestamp    699071 non-null int64
author       699070 non-null object
dtypes: int64(1), object(1)
memory usage: 10.7+ MB
17385 authors committed 699071 code changes.

## 4. Finding the TOP 10 contributors
<p>There are some very important people that changed the Linux kernel very often. To see if there are any bottlenecks, we take a look at the TOP 10 authors with the most commits.</p>

In [209]:
# Identifying the top 10 authors
top_10_authors = (git_log['author'].value_counts()).head(10)

# Listing contents of 'top_10_authors'
top_10_authors

Linus Torvalds           23361
David S. Miller           9106
Mark Brown                6802
Takashi Iwai              6209
Al Viro                   6006
H Hartley Sweeten         5938
Ingo Molnar               5344
Mauro Carvalho Chehab     5204
Arnd Bergmann             4890
Greg Kroah-Hartman        4580
Name: author, dtype: int64

## 5. Wrangling the data
<p>For our analysis, we want to visualize the contributions over time. For this, we use the information in the <code>timestamp</code> column to create a time series-based column.</p>

In [211]:
# converting the timestamp column
# ... YOUR CODE FOR TASK 5 ...
git_log['timestamp'] = pd.to_datetime(git_log['timestamp'], unit = "s")
# summarizing the converted timestamp column
# ... YOUR CODE FOR TASK 5 ...
git_log.describe()
git_log

                 timestamp                    author
0      2017-08-15 19:49:43            Linus Torvalds
1      2017-08-03 08:31:29             Adrian Hunter
2      2017-08-03 08:31:28             Adrian Hunter
3      2017-08-04 21:34:40                 Kees Cook
4      2017-06-12 12:43:15                 Rob Clark
5      2017-08-03 08:31:27             Adrian Hunter
6      2017-08-03 08:31:26             Adrian Hunter
7      2017-08-07 12:37:50              Anton Volkov
8      2017-08-01 07:11:52               Keith Busch
9      2017-08-15 14:34:55              Alex Deucher
10     2017-06-18 20:41:23          Vijendar Mukunda
11     2017-07-07 15:17:13          Vijendar Mukunda
12     2017-08-10 08:12:45                 Evan Quan
13     2017-08-10 07:17:56                 Evan Quan
14     2017-08-10 03:24:43             Hawking Zhang
15     2017-08-09 10:30:46             Dan Carpenter
16     2017-08-08 04:20:30                   Rex Zhu
17     2017-08-04 07:31:37                   Rex Zhu
18     2017-08-08 10:42:51             Trigger Huang
19     2017-08-08 11:50:46              Kent Russell
20     2017-08-08 11:58:01              Kent Russell
21     2017-08-08 11:48:52              Kent Russell
22     2017-08-08 11:48:01              Kent Russell
23     2017-08-07 07:32:29                   Rex Zhu
24     2017-08-04 08:56:38                 Huang Rui
25     2017-08-03 11:58:35           Cihangir Akturk
26     2017-08-03 11:58:16           Cihangir Akturk
27     2017-06-14 22:46:14              Alex Deucher
28     2017-08-02 11:27:04                   Rex Zhu
29     2017-08-02 10:37:44                   Rex Zhu
...                    ...                       ...
699041 2005-04-16 22:24:17            Paul Mackerras
699042 2005-04-16 22:24:17            Paul Mackerras
699043 2005-04-16 22:24:16            Paul Mackerras
699044 2005-04-16 22:24:15          Eugene Surovegin
699045 2005-04-16 22:24:14            Paul Mackerras
699046 2005-04-16 22:24:13              James Morris
699047 2005-04-16 22:24:11           Jean Tourrilhes
699048 2005-04-16 22:24:10                Herbert Xu
699049 2005-04-16 22:24:09  Arnaldo Carvalho de Melo
699050 2005-04-16 22:24:09           David S. Miller
699051 2005-04-16 22:24:08              Martin Hicks
699052 2005-04-16 22:24:07             akpm@osdl.org
699053 2005-04-16 22:24:06             akpm@osdl.org
699054 2005-04-16 22:24:05          Andrea Arcangeli
699055 2005-04-16 22:24:05                Jeff Moyer
699056 2005-04-16 22:24:04               Dave Airlie
699057 2005-04-16 22:24:03              James Morris
699058 2005-04-16 22:24:02             akpm@osdl.org
699059 2005-04-16 22:24:01           David S. Miller
699060 2005-04-16 22:24:01              Stas Sergeev
699061 2005-04-16 22:24:00             akpm@osdl.org
699062 2005-04-16 22:23:59           James Bottomley
699063 2005-04-16 22:23:58        Artem B. Bityuckiy
699064 2005-04-16 22:23:57             akpm@osdl.org
699065 2005-04-16 22:23:57             akpm@osdl.org
699066 2005-04-16 22:23:56             akpm@osdl.org
699067 2005-04-16 22:23:55             akpm@osdl.org
699068 2005-04-16 22:23:54                Neil Brown
699069 2005-04-16 22:23:53         Christoph Lameter
699070 2005-04-16 22:20:36            Linus Torvalds

[699071 rows x 2 columns]

## 6. Treating wrong timestamps
<p>As we can see from the results above, some contributors had their operating system's time incorrectly set when they committed to the repository. We'll clean up the <code>timestamp</code> column by dropping the rows with the incorrect timestamps.</p>

In [213]:
# determining the first real commit timestamp
first_commit_timestamp = git_log.iloc[699070, 0]


# determining the last sensible commit timestamp
last_commit_timestamp = pd.to_datetime('today')

# filtering out wrong timestamps

mask = (git_log['timestamp'] >= first_commit_timestamp) & (git_log['timestamp'] <= last_commit_timestamp)

# summarizing the corrected timestamp column
# ... YOUR CODE FOR TASK 6 ...
corrected_log  = git_log.loc[mask]
corrected_log['timestamp'].describe()

count                  698569
unique                 667977
top       2008-09-04 05:30:19
freq                       99
first     2005-04-16 22:20:36
last      2017-10-03 12:57:00
Name: timestamp, dtype: object

## 7. Grouping commits per year
<p>To find out how the development activity has increased over time, we'll group the commits by year and count them up.</p>

In [215]:
# Counting the no. commits per year
commits_per_year = corrected_log.groupby(
                pd.Grouper(
                    key = 'timestamp',
                    freq = 'AS'
                    )
                ).size()

# Listing the first rows
# ... YOUR CODE FOR TASK 7 ...
commits_per_year

timestamp
2005-01-01    16230
2006-01-01    29255
2007-01-01    33759
2008-01-01    48847
2009-01-01    52572
2010-01-01    49819
2011-01-01    56403
2012-01-01    65389
2013-01-01    71001
2014-01-01    75642
2015-01-01    75747
2016-01-01    76688
2017-01-01    47217
Freq: AS-JAN, dtype: int64

## 8. Visualizing the history of Linux
<p>Finally, we'll make a plot out of these counts to better see how the development effort on Linux has increased over the the last few years. </p>

In [3]:
# Setting up plotting in Jupyter notebooks
%matplotlib inline

# plot the data
# ... YOUR CODE FOR TASK 8 ...
#commits_per_year.plot()

## 9.  Conclusion
<p>Thanks to the solid foundation and caretaking of Linux Torvalds, many other developers are now able to contribute to the Linux kernel as well. There is no decrease of development activity at sight!</p>

In [219]:
# calculating or setting the year with the most commits to Linux
year_with_most_commits = '2016'